In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

pd.set_option('display.max_rows', 2000)
pd.set_option('display.max_columns', 500)

In [2]:
#importing dataset
water_qual = pd.read_csv('./Data/cmcWaterQualitySamples.csv',)

/Users/mauriekathan/anaconda3/envs/dsi/lib/python3.6/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (10,12,13,16,17,18,22,24,28,30,32,37,43,49,52,54,58,60,68,70,74,77,79,80,82,84,86,88,90,92,100,101,102,103,104,106,108,119,121,124,125,126,127,133,142,144,146,148,150,152,158,160,162,164,166,168,170,176,179,181,185,187,188,194) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
#reviewing data
water_qual.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10703 entries, 0 to 10702
Columns: 208 entries, Date to Comments
dtypes: float64(89), int64(1), object(118)
memory usage: 17.0+ MB

In [4]:
#reviewing all the data that has been added
water_qual.GroupName.unique()

array(['Antietam Watershed Association', 'Friends of the Rappahannock',
       'Chesterfield WaterTrends', 'Alliance for the Chesapeake Bay',
       'Henrico Area Water Quality Samplers', 'Caledon State Park',
       'Riverine Master Naturalists', 'Reedy Creek Coalition',
       "Chesapeake Bay Governor's School", 'Reston Association',
       'James River Association', 'United States National Arboretum D.C.',
       'Anacostia Riverkeeper',
       'Peninsula Chapter Virginia Master Naturalists',
       'LeTort Regional Authority',
       'Conodoguinet Creek Watershed Association',
       'Middle Spring Watershed Association',
       'Bradford County Volunteer Monitors', "God's Country Water Dogs",
       'Big Spring Watershed Association', 'Nanticoke Watershed Alliance',
       'Cumberland Valley Trout Unlimited', 'Chesapeake Bay Foundation',
       'Spa Creek Conservancy'], dtype=object)

In [7]:
#looking number of nulls by column
water_qual.isnull().sum().sort_values(ascending=True).head(20)

Date                          0
Time                          0
StationName                   0
StationCode                   0
Latitude                      0
Longitude                     0
GroupName                     0
SampleId                      0
SampleDepth                 996
Dissolved oxygen Units     2950
Dissolved oxygen Tier      2950
Dissolved oxygen Code      2950
Dissolved oxygen           2959
Water temperature Tier     3281
Water temperature Code     3281
Water temperature Units    3281
Water temperature          3291
Water Clarity Code         4495
Water Clarity Tier         4495
Water Clarity Units        4495
dtype: int64

In [8]:
water_qual.isnull().sum().sort_values(ascending=True).tail(20)

Total Phosphorus Problem                     10703
Bacteria Incubation Time Units               10703
Total Nitrogen Problem                       10703
Total Nitrogen Blank Problem                 10703
Total Kjeldahl Nitrogen Problem              10703
Total Dissolved Solids Qualifier             10703
Total Suspended Solids Problem               10703
Total Dissolved Solids Problem               10703
Bacteria (E.Coli) Blank Problem              10703
Total Phosphorus Blank Problem               10703
Chlorophyll a Qualifier                      10703
Ammonia-nitrogen Qualifier                   10703
Salinity Qualifier                           10703
pH Qualifier                                 10703
Ammonia-nitrogen Problem                     10703
Bacteria Incubation Temperature Qualifier    10703
Orthophosphate Qualifier                     10703
Orthophosphate Problem                       10703
Total Depth Qualifier                        10703
Chlorophyll a Problem                        10703
dtype: int64

There are tons of nulls in a lot of different columns. In order to get a better sense of how many columns are useful I filter by average null rows.

In [9]:
#filtering to columns where the average number of rows that are null is less than 60%
water_qual1 = water_qual.loc[:, water_qual.isnull().mean() < .60]

In [10]:
#dropping null rows
water_qual_1000 = water_qual1.dropna()

In [11]:
#look at how we have.
water_qual_1000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1067 entries, 536 to 10698
Data columns (total 26 columns):
Date                        1067 non-null object
Time                        1067 non-null object
StationName                 1067 non-null object
StationCode                 1067 non-null object
Latitude                    1067 non-null float64
Longitude                   1067 non-null float64
GroupName                   1067 non-null object
SampleId                    1067 non-null int64
SampleDepth                 1067 non-null float64
Dissolved oxygen            1067 non-null float64
Dissolved oxygen Code       1067 non-null object
Dissolved oxygen Tier       1067 non-null object
Dissolved oxygen Units      1067 non-null object
pH                          1067 non-null float64
pH Code                     1067 non-null object
pH Tier                     1067 non-null object
pH Units                    1067 non-null object
Water Clarity               1067 non-null float64
Water Clarity Code          1067 non-null object
Water Clarity Tier          1067 non-null object
Water Clarity Units         1067 non-null object
Water temperature           1067 non-null float64
Water temperature Code      1067 non-null object
Water temperature Tier      1067 non-null object
Water temperature Units     1067 non-null object
Weather Conditions Today    1067 non-null object
dtypes: float64(7), int64(1), object(18)
memory usage: 225.1+ KB

In [12]:
#filtering to columns where the average number of rows that are null is less than 50%
water_qual2 = water_qual.loc[:, water_qual.isnull().mean() < .50]

In [13]:
water_qual_5000 = water_qual2.dropna()

In [15]:
water_qual_5000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5142 entries, 0 to 10698
Data columns (total 21 columns):
Date                       5142 non-null object
Time                       5142 non-null object
StationName                5142 non-null object
StationCode                5142 non-null object
Latitude                   5142 non-null float64
Longitude                  5142 non-null float64
GroupName                  5142 non-null object
SampleId                   5142 non-null int64
SampleDepth                5142 non-null float64
Dissolved oxygen           5142 non-null float64
Dissolved oxygen Code      5142 non-null object
Dissolved oxygen Tier      5142 non-null object
Dissolved oxygen Units     5142 non-null object
Water Clarity              5142 non-null float64
Water Clarity Code         5142 non-null object
Water Clarity Tier         5142 non-null object
Water Clarity Units        5142 non-null object
Water temperature          5142 non-null float64
Water temperature Code     5142 non-null object
Water temperature Tier     5142 non-null object
Water temperature Units    5142 non-null object
dtypes: float64(6), int64(1), object(14)
memory usage: 883.8+ KB

In [16]:
#filtering to columns where the average number of rows that are null is less than 55%
water_qual3 = water_qual.loc[:, water_qual.isnull().mean() < .55]

In [17]:
water_qual_2000 = water_qual3.dropna()

In [18]:
water_qual_2000.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2060 entries, 536 to 10698
Data columns (total 22 columns):
Date                        2060 non-null object
Time                        2060 non-null object
StationName                 2060 non-null object
StationCode                 2060 non-null object
Latitude                    2060 non-null float64
Longitude                   2060 non-null float64
GroupName                   2060 non-null object
SampleId                    2060 non-null int64
SampleDepth                 2060 non-null float64
Dissolved oxygen            2060 non-null float64
Dissolved oxygen Code       2060 non-null object
Dissolved oxygen Tier       2060 non-null object
Dissolved oxygen Units      2060 non-null object
Water Clarity               2060 non-null float64
Water Clarity Code          2060 non-null object
Water Clarity Tier          2060 non-null object
Water Clarity Units         2060 non-null object
Water temperature           2060 non-null float64
Water temperature Code      2060 non-null object
Water temperature Tier      2060 non-null object
Water temperature Units     2060 non-null object
Weather Conditions Today    2060 non-null object
dtypes: float64(6), int64(1), object(15)
memory usage: 370.2+ KB

We only gain Weather Conditions with the 55% but lose 3000 rows so I decided to move forward with the 50% dataset